.feedback-selector-container {
  max-width: 340px;
  width: 100%;
}
.feedback-selector-container p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15em;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.feedback-selector-container select {
  background: #FFFFFF;
  border: 1px solid #D9DCDE;
  border-radius: 3px;
  height: 48px;
  padding: 0 8px;
  position: relative;
  width: 100%;
}

