.user-container figure {
  margin-right: 15px;
}

.user-container.flex-row {
  align-items: center;
}
.user-container .profile-image {
  margin-right: 15px;
}
.logout {
  color: #59636e;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
}
