.site-navigation {
  background: #f2f3f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
}
.site-navigation a {
  color: #031323;
  cursor: pointer;
  text-decoration: none;
}
.site-navigation a:hover {
  text-decoration: none;
}
.logo-container {
  width: 100px
}
.logo-text {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.site-links-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-links-container li {
  display: inline-block;
  font-weight: 600;
  margin: 0 30px 0;
  padding: 8px 0 0;
  position: relative;
  transition: all .3s ease-in-out
}
.site-links-container li:after {
  background-color: #f2f3f4;
  content: '';
  height: 3px;
  position: absolute;
  top: 56px;
  left: 5px;
  width: 90%;
  transition: background-color .3s ease-in-out
}

.site-links-container li:hover::after, .site-links-container li:active::after{
  background-color: #AB61E5;
}
.feedback-cycle-container {
  font-size: 11px;
  line-height: 13px;
}
.sub-grid {
  width: 380px;
}
.feedback-cycle-container p:first-child {
  margin-bottom: 4px
}
.feedback-cycle-container .month{
  font-size: 16px;
}
.feedback-cycle-container .days-until-review{
  font-size: 16px;
  color: #18bea0;
}
.divider {
  background-color: #D9DCDE;
  width: 1px;
  margin: -20px 0;
}
