/*------------- generic elements -------------*/
img {
  display: block;
  width: 100%;
}

/*------------- generic classes -------------*/
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.container {
  width: 90%;
}
.flex-row {
  display: flex;
}
.flex-row_between {
  justify-content: space-between;
}
.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.site-content {
  flex-grow: 1;
}
.text-align-right {
  text-align: right;
}
